{% extends "__base__.html" %} 

{% block style %}
<style>
.blog-time{
    color: rgb(153, 153, 153);
    font-size: 12px;
}
.blog-content a{
    text-decoration: none;
}
.pages{
    text-align: center;
    margin-top: -20px;  
}
</style>
{% endblock %} 
{% block content %}
    <div class="container">
    <div class="row">      
        <div class="col-md-9">
            <div class="main-content">
            {% for blog in blogs %}
            <div class="panel panel-info">
                <div class="panel-body blog-content">
                    <h3><a href="#" >{{blog.name}}</a><small class="blog-time">   发表于{{blog.create_at | timeFormat}}</small></h3> 
                                                
                    <p>{{blog.summary}}</p>
                    <p><a href="#" >继续阅读>></a></p>
                </div>
            </div>
            {% endfor %}
            <div class="pages">
                 <nav aria-label="Page navigation" >
      <ul class="pagination ">
        {% if page.has_prev %}
        <li>
          <a href="/?page={{page.page_index-1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        {% endif %}

        <li class="active"><a href="#">{{page.page_index}}</a></li>

        {% if page.has_next %}
        <li>
          <a href="/?page={{page.page_index+1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
        {% endif %}
      </ul>
    </nav>
            </div> 
            </div>
            
 
        </div>
        <div class="col-md-3">
            <div class="fri-links">
                <h4>友情链接</h4>
                <hr>
                <p><span class="glyphicon glyphicon-link"></span><a href=""> Git教程</a></p>
                <hr>
                <p><a href=""><span class="glyphicon glyphicon-link"></span> CSND博客</a></p>
                <hr>
                <p><a href=""><span class="glyphicon glyphicon-link"></span> JS教程</a></p>
                <hr>
            </div>
        </div>
    </div>
       
</div>
    </div>
{% endblock %} 
{% block scripts%}
<script>
</script>
{% endblock %}