{% extends "__base__.html" %} 

{% block style %}
<style>
/* table th,td{
    width: 33.33%;
} */

</style>
{% endblock %}
{% block script%}
<script>
   function delBlog(id){
    if (confirm("确定要删除？删除后不能恢复")){
        $.get("/api/blog/delete?id="+id,function(data){
            if(data=='ok'){
                return location.assign('/manage/blogs')
            }
        })
    }
} 
</script>

{% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li class="active" >日志</li>
        <li><a href="/manage/comments">评论</a></li>
        <li><a href="/manage/users">用户</a></li>
    </ol>
    <a href="/manage/blog/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>新日志</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th style="text-align: center;">创建时间</td>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in blogs%}
                <tr>
                    <td><a href="/blog/{{blog.id}}">{{blog.name}}</a></td>
                    <td>{{blog.user_name}}</td>
                    <td style="text-align: center;">{{blog.create_at | timeFormat}}</td>
                    <td><a href="/manage/blog/edit?id={{blog.id}}"><span class="glyphicon glyphicon-pencil"></span></a>     <a href=""><span class="glyphicon glyphicon-trash"  onclick="delBlog('{{blog.id}}')"></span></a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
 
    <div class="center-block" style="width: 100px">
        <nav aria-label="Page navigation" >
      <ul class="pagination ">
        {% if page.has_prev %}
        <li>
          <a href="/manage/blogs?page={{page.page_index-1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        {% endif %}

        <li class="active"><a href="#">{{page.page_index}}</a></li>

        {% if page.has_next %}
        <li>
          <a href="/manage/blogs?page={{page.page_index+1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
        {% endif %}
      </ul>
    </nav>
    </div>
</div>
{% endblock %}
