{% extends "__base__.html" %} 

{% block style %}
<style>
table th,td{
    width: 33.33%;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/manage/blogs">日志</a></li>
        <li><a href="/manage/comments">评论</a></li>
        <li class="active">用户</li>
    </ol>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>用户名称</th>
                    <th>电子邮件</th>
                    <th>注册时间</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.create_at | timeFormat}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
 
    <div class="center-block" style="width: 100px">
        <nav aria-label="Page navigation" >
      <ul class="pagination ">
        {% if page.has_prev %}
        <li>
          <a href="/manage/users?page={{page.page_index-1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        {% endif %}

        <li class="active"><a href="#">{{page.page_index}}</a></li>

        {% if page.has_next %}
        <li>
          <a href="/manage/users?page={{page.page_index+1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
        {% endif %}
      </ul>
    </nav>
    </div>
    
     

</div>
{% endblock %}