{% extends "__base__.html" %} 
{% block title %} 
    {% if user %} 
        {{ user.name }} 
    {% else %} 
        you 
    {% endif %} 
{% endblock %} 

{% block style %}
<style>
table th,td{
    width: 33.33%;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">日志</a></li>
        <li><a href="#">评论</a></li>
        <li class="active">用户</li>
    </ol>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>用户名称</th>
                    <th>电子邮件</th>
                    <th>注册时间</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.create_at | timeFormat}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}